// Scss Document
.bg-body-tertiary{
	background-color: var(--color_1) !important;
	.navbar-brand, .nav-link{
		color: var(--color_2) !important;
	}
}
.btn{
	color: var(--color_2) !important;
	border: solid 1px var(--color_2) !important;
	&:hover{
		color: var(--color_1) !important;
		background-color: var(--color_2);
	}
}